<!-- <app-navbar [isLogin]="false"></app-navbar> -->
<!-- <div class="container py-10  px-5 mx-auto"> -->

<div class="flex flex-col min-h-screen ">

        <section class="flex items-center justify-center min-h-screen">
                <div class="grid md:grid-cols-2 lg:grid-cols-[30%_minmax(0,1fr)] w-full h-full">
                        <div>
                                <router-outlet></router-outlet>
                        </div>

                        <div class="img h-screen overflow-hidden">
                                <owl-carousel-o [options]="customOptions" class="h-full">
                                        <ng-template carouselSlide>
                                                <div class="h-full">
                                                        <img src="/images/slide1.jpg" alt="" class="w-[100%] h-[100vh] object-cover ">
                                                </div>
                                          </ng-template>
                                  <ng-template carouselSlide>
                                        <div class="h-full">
                                                <img src="/images/mobiles.jpg" alt="" class="w-[100%] h-[100vh] object-cover ">
                                        </div>
                                  </ng-template>

                                  <ng-template carouselSlide>
                                        <div class="h-full">
                                                <img src="/images/e-commerce.jpg" alt="" class="w-[100%] h-[100vh] object-cover ">
                                        </div>
                                  </ng-template>

                                  <ng-template carouselSlide>
                                        <div class="h-full">
                                                <img src="/images/devices.jpg" alt="" class="w-[100%] h-[100vh] object-cover ">
                                        </div>
                                  </ng-template>



                                  <ng-template carouselSlide>
                                        <div class="h-full">
                                                <img src="/images/slide2.jpg" alt="" class="w-[100%] h-[100vh] object-cover ">
                                        </div>
                                  </ng-template>

                                </owl-carousel-o>
                        </div>
                </div>
        </section>
</div>


<!-- </div> -->

<!-- <app-footer></app-footer> -->