<!-- <section>
    <h1 class="text-center text-4xl my-6 text-green-600">Forget Password</h1>

    @if (step ==1) {
        <form [formGroup]="verifyEmail" class="bg-gray-100 rounded-lg shadow p-6" (ngSubmit)="verifyEmailSubmit()">
            <div class="mb-5">
                @let emailControl = verifyEmail.get('email');
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
                <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (emailControl?.errors && emailControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(emailControl?.getError('required')){
                                <li>Email is required</li>
                              }
                              @else if (emailControl?.getError('email')) {
                                <li>Email is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
            
                  }
           
            </div>
    
            <button class="btn-main" type="submit" [disabled]="verifyEmail.invalid || isLoading">Verify Email
                @if (isLoading) {
                  <span><i class="fas fa-spin fa-spinner"></i></span>
                }
              </button>

              @if (msgError) {
                <p class="bg-red-400 text-white border py-6 px-2">{{msgError}}</p>
              }
      
              @if (success) {
                <p class="bg-green-400 text-white border py-6 px-2">{{success}}</p>
              }
        </form>
    }


    @if (step ==2) {
        <form [formGroup]="verifyCode" class="bg-gray-100 rounded-lg shadow p-6" (ngSubmit)="verifyCodeSubmit()">
            <div class="mb-5">
                @let resetCodeControl = verifyCode.get('resetCode');
                <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">resetCode</label>
                <input formControlName="resetCode" type="text" id="resetCode" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (resetCodeControl?.errors && resetCodeControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(resetCodeControl?.getError('required')){
                                <li>resetCode is required</li>
                              }
                              @else if (resetCodeControl?.getError('pattern')) {
                                <li>resetCode is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
            
                  }
           
            </div>
    
            <button class="btn-main" type="submit" [disabled]="verifyCode.invalid || isLoading">Verify Code
                @if (isLoading) {
                  <span><i class="fas fa-spin fa-spinner"></i></span>
                }
              </button>
        </form>
    }


    @if (step ==3) {
        <form [formGroup]="resetPassword" class="bg-gray-100 rounded-lg shadow p-6" (ngSubmit)="resetPasswordSubmit()">
            <div class="mb-5">
                @let rEmailControl = resetPassword.get('email');
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
                <input readonly formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (rEmailControl?.errors && rEmailControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(rEmailControl?.getError('required')){
                                <li>Email is required</li>
                              }
                              @else if (rEmailControl?.getError('email')) {
                                <li>Email is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
            
                  }
           
            </div>
    
            <div class="mb-5">
                @let passwordControl = resetPassword.get('newPassword');
                <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">newPassword</label>
                <input formControlName="newPassword"  type="password" id="newPassword" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (passwordControl?.errors && passwordControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(passwordControl?.getError('required')){
                                <li>password is required</li>
                              }
                              @else if (passwordControl?.getError('pattern')) {
                                <li>password is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
            
                  }
            
            </div>
    
            <button class="btn-main" type="submit" [disabled]="resetPassword.invalid || isLoading">Reset Password
                @if (isLoading) {
                  <span><i class="fas fa-spin fa-spinner"></i></span>
                }
              </button>
        </form>
    }

</section> -->

<div class="form-section bg-[#F5F5F7] flex items-center justify-center min-h-screen ">
  <div class="text-center w-full">
    <div class="img brand flex gap-4 justify-center items-center py-4">
      <img src="/images/cart.svg" alt="brand icon" class="w-[75px] h-[75px]">
      <h1 class="text-[42px] text-gray-800 font-bold leading-[53px] font-titillium">ByteCart<span class="text-blue-800">.</span></h1>
    </div>
    
    <p class="text-[#2d385e] text-[24px] font-titillium font-bold leading-[26px] py-3 text-left w-[75%] mx-auto">Recover your password</p>


    <div class="form w-[75%] mx-auto">
      @if (step ==1) {
        <p class="font-titillium font-normal text-[#2d385e] leading-[23px] text-[16px] text-left w-full">Fill in your e-mail address below and we will send you an email with further instructions.</p>

        <form [formGroup]="verifyEmail" class="py-5" (ngSubmit)="verifyEmailSubmit()">
            <div class="mb-5">
                @let emailControl = verifyEmail.get('email');
                <label for="email" class="font-titillium font-normal text-left text-[18px] leading-[26px] capitalize text-[#333] block mb-2   dark:text-white ">email</label>
                <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (emailControl?.errors && emailControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(emailControl?.getError('required')){
                                <li>Email is required</li>
                              }
                              @else if (emailControl?.getError('email')) {
                                <li>Email is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
            
                  }
           
            </div>
    
            <button class="btn-main w-full" type="submit" [disabled]="verifyEmail.invalid || isLoading">Verify Email
                @if (isLoading) {
                  <span><i class="fas fa-spin fa-spinner"></i></span>
                }
              </button>

              <p class="font-titillium font-normal text-[#2d385e] leading-[23px] text-[16px] pt-5 pb-2 text-left">Already have an account? <a routerLink="/login" class="text-[#4f77ff] font-bold text-lg">Login Now!</a></p>
              <p class="font-titillium font-normal text-[#2d385e] leading-[23px] text-[16px] text-left">Don’t have an account? <a routerLink="/register" class="text-[#4f77ff] font-bold text-lg">Sign Up Free!</a></p>

              @if (msgError) {
                <p class="bg-red-400 text-white border py-6 px-2">{{msgError}}</p>
              }
      
              @if (success) {
                <p class="bg-green-400 text-white border py-6 px-2">{{success}}</p>
              }
        </form>
    }


    @if (step ==2) {
      <p class="font-titillium font-normal text-[#2d385e] leading-[23px] text-[16px] text-left w-full">Please enter the reset code that was sent to your email address.      </p>

        <form [formGroup]="verifyCode" class="py-5" (ngSubmit)="verifyCodeSubmit()">
            <div class="mb-5">
                @let resetCodeControl = verifyCode.get('resetCode');
                <label for="resetCode" class="font-titillium font-normal text-left text-[18px] leading-[26px] capitalize text-[#333] block mb-2  dark:text-white">resetCode</label>
                <input formControlName="resetCode" type="text" id="resetCode" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (resetCodeControl?.errors && resetCodeControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(resetCodeControl?.getError('required')){
                                <li>resetCode is required</li>
                              }
                              @else if (resetCodeControl?.getError('pattern')) {
                                <li>resetCode is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
            
                  }
           
            </div>
    
            <button class="btn-main w-full" type="submit" [disabled]="verifyCode.invalid || isLoading">Verify Code
                @if (isLoading) {
                  <span><i class="fas fa-spin fa-spinner"></i></span>
                }
              </button>
              <p class="font-titillium font-normal text-[#2d385e] leading-[23px] text-[16px] pt-5 pb-2 text-left">Already have an account? <a routerLink="/login" class="text-[#4f77ff] font-bold text-lg">Login Now!</a></p>
              <p class="font-titillium font-normal text-[#2d385e] leading-[23px] text-[16px] text-left">Don’t have an account? <a routerLink="/register" class="text-[#4f77ff] font-bold text-lg">Sign Up Free!</a></p>

        </form>
    }


    @if (step ==3) {
      <p class="font-titillium font-normal text-[#2d385e] leading-[23px] text-[16px] text-left w-full">Enter the new password.</p>

        <form [formGroup]="resetPassword" class="py-5" (ngSubmit)="resetPasswordSubmit()">
            <div class="mb-5">
                @let rEmailControl = resetPassword.get('email');
                <label for="email" class="font-titillium font-normal text-left text-[18px] leading-[26px] capitalize text-[#333] block mb-2  dark:text-white">email</label>
                <input readonly formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (rEmailControl?.errors && rEmailControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(rEmailControl?.getError('required')){
                                <li>Email is required</li>
                              }
                              @else if (rEmailControl?.getError('email')) {
                                <li>Email is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
            
                  }
           
            </div>
    
            <div class="mb-5">
                @let passwordControl = resetPassword.get('newPassword');
                <label for="newPassword" class="font-titillium font-normal text-left text-[18px] leading-[26px] capitalize text-[#333] block mb-2  dark:text-white">newPassword</label>
                <input formControlName="newPassword"  type="password" id="newPassword" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (passwordControl?.errors && passwordControl?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                              @if(passwordControl?.getError('required')){
                                <li>password is required</li>
                              }
                              @else if (passwordControl?.getError('pattern')) {
                                <li>password is not valid</li>
                              }
                          </ul>
                        </div>
                      </div>
            
                  }
            
            </div>
    
            <button class="btn-main w-full" type="submit" [disabled]="resetPassword.invalid || isLoading">Reset Password
                @if (isLoading) {
                  <span><i class="fas fa-spin fa-spinner"></i></span>
                }
              </button>

              <p class="font-titillium font-normal text-[#2d385e] leading-[23px] text-[16px] pt-5 pb-2 text-left">Already have an account? <a routerLink="/login" class="text-[#4f77ff] font-bold text-lg">Login Now!</a></p>
              <p class="font-titillium font-normal text-[#2d385e] leading-[23px] text-[16px] text-left">Don’t have an account? <a routerLink="/register" class="text-[#4f77ff] font-bold text-lg">Sign Up Free!</a></p>

        </form>
    }
    </div>

  </div>
</div>