
  <router-outlet ></router-outlet>




<!-- <ngx-spinner
  name="loading-1"
  type="square-loader"
  bdColor="rgba(0, 0, 0, 0.6)"
  template="<img class='w-[250px]' src='/images/freshcart-logo.svg' />"
>
  <h1 class="text-white text-xl">Loading ...</h1>
</ngx-spinner> -->

<ngx-spinner name="loading-1" type="square-loader" color="transparent" size="medium">
  <div class="cart-spinner">
    <i class="fas fa-shopping-cart"></i>
  </div>

  <h4 class="text-white text-2xl">Loading ...</h4>
</ngx-spinner>

