<section class="bg-[#F1F1F1]">
    <div class="container py-10 px-5 mx-auto">
        <h2 class="text-xl py-2 capitalize font-mulish text-[15px] leading-[20px] font-bold pl-5">Categories</h2>

        <owl-carousel-o [options]="customOptions">
      
          
            @for (cat of categories; track cat._id) {
                <ng-template carouselSlide >
                    <!-- content for one slide -->
                     <!-- <div>
                      <img [src]="cat.image" [alt]="cat.name" class="h-[250px] object-contain">
                     </div>
                     <h3 class="text-green-600 text-center">{{cat.name}}</h3> -->

                     <div class="bg-white flex flex-row-reverse gap-2 group items-center justify-center w-[90%] py-7 rounded-xl hover:border hover:border-primary transition duration-300 ease-in-out cursor-pointer">
                        <div class="image">
                            <!-- <i class="fa-solid fa-mobile-screen-button text-[50px] "></i> -->

                            <img [src]="cat.image" [alt]="cat.name" class="h-[50px] w-[50px] object-cover">
                        </div>
                        <p class="font-mulish font-bold text-[15px] leading-[20px] group-hover:text-blue-500 transition duration-300 ease-in-out">{{cat.name}}</p>
                     </div>
                  </ng-template>
            }
    
       
      
        </owl-carousel-o>
    </div>

    
</section>

<section class="bg-[#F1F1F1]">
    <div class="container py-2 px-5 mx-auto ">
        <!-- <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">

    
            <div>
                <img src="/images/grocery-banner.png" alt="slider image 2" class="w-full h-[150px] object-contain">
                <img src="/images/grocery-banner-2.jpeg" alt="slider image 3" class="w-full h-[150px] object-contain">
            </div>
        </div> -->

        <div >
                
            <owl-carousel-o [options]="customMainSlider">
                <!-- <ng-template carouselSlide><img src="/images/img1.avif" alt="slider image 1" class="w-full h-[300px] rounded-xl"></ng-template>
                <ng-template carouselSlide><img src="/images/img2.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>

                <ng-template carouselSlide><img src="/images/img3.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
                <ng-template carouselSlide><img src="/images/img4.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
                <ng-template carouselSlide><img src="/images/img5.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
                <ng-template carouselSlide><img src="/images/img6.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template> -->

                <ng-template carouselSlide>
                    <div class="relative w-full h-[500px] flex items-center justify-end text-white">
                        <!-- Background with opacity -->
                        <div class="absolute inset-0 bg-[url('/images/hero-slider/1.jpg')] bg-cover bg-center opacity-80"></div>
                      
                        <!-- Text Content (remains fully visible) -->
                        <div class="relative text-left max-w-lg pe-6">
                          <h1 class=" font-extrabold text-[43px] leading-[50px]">It’s Time </h1>
                          <h1 class=" font-extrabold text-[43px]">for Big Savings</h1>
                          <p class="text-lg">Awesome discounts and deals</p>
                          <p class="text-xl font-semibold">From $299.9</p>
                          <button class="mt-4 px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Shop Now</button>
                        </div>
                      </div>
                </ng-template>

              </owl-carousel-o>
        </div>

    </div>

</section>



<section>

    <h2 class="text-3xl py-4 capitalize">Popular products</h2>

    <input [(ngModel)]="searchText" type="search" placeholder="Search by Name ..." class="form-control w-[50%] mx-auto my-4 block">

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
        @for (product of products.slice(0,12)|search : searchText; track product._id) {
            <div class="card border border-green-400/50 rounded-md overflow-hidden shadow relative group py-5 px-5" >
                <div [routerLink]="['/details', product._id]">
                    <div class="card-img">
                        <img [src]="product.imageCover" [alt]="product.title" class="w-full object-contain h-[250px]">
        
                    </div>
    
                    <div class="card-body px-2 py-4">
                        <h4 class="text-green-500 text-xs">{{product.category.name | titlecase | slice:0:5 }}</h4>
                        <h3 class="font-medium">{{product.title | termtext:2 }}</h3>
                        <div class="flex justify-between items-center">
                            <span>{{product.price| currency:'EGP' }}</span>
                            <div class="flex items-center">
                                @for (num of [1,2,3,4,5].slice(0,product.ratingsAverage) ; track $index) {
                                    <i class="fas fa-star text-yellow-300"></i>
                                }
                                
                                @if(product.ratingsAverage % 1 !== 0){
                                    <i class="fas fa-star fa-star-half-stroke text-yellow-300"></i>

                                }
                                <span class="text-gray-500">{{product.ratingsAverage}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="flex justify-center items-center gap-5">
                    <button (click)="addCartItem(product._id)" class="btn-main w-[90%] me-auto block translate-y-full opacity-0 group-hover:-translate-y-0 group-hover:transition-all group-hover:duration-500 group-hover:opacity-100">Add to cart</button>

                    <div class="fav-ico">
                        @if(wishlistItems().includes(product._id)){
                            <i class="fa-solid fa-heart text-[29px] cursor-pointer text-red-600" (click)="removeProductWishList(product._id)"></i>
                        }@else{
                            <i class="fa-regular fa-heart text-[29px] cursor-pointer" (click)="addProductWishList(product._id)"></i>

                        }
                    </div>
                </div>
                
            </div>
        }

    </div>
</section>