<section class="bg-[#F1F1F1]">
    <div class="container py-10 px-5 mx-auto">
        <h2 class="text-xl py-2 capitalize font-mulish text-[15px] leading-[20px] font-bold pl-5">Categories</h2>

        <owl-carousel-o [options]="customOptions">


            @for (cat of categories; track cat._id) {
            <ng-template carouselSlide>
                <!-- content for one slide -->
                <!-- <div>
                      <img [src]="cat.image" [alt]="cat.name" class="h-[250px] object-contain">
                     </div>
                     <h3 class="text-green-600 text-center">{{cat.name}}</h3> -->

                <div
                    class="bg-white flex flex-row-reverse gap-2 group items-center justify-center w-[90%] py-7 rounded-xl hover:border hover:border-primary transition duration-300 ease-in-out cursor-pointer">
                    <div class="image">
                        <!-- <i class="fa-solid fa-mobile-screen-button text-[50px] "></i> -->

                        <img [src]="cat.image" [alt]="cat.name" class="h-[50px] w-[50px] object-cover">
                    </div>
                    <p
                        class="font-mulish font-bold text-[15px] leading-[20px] group-hover:text-blue-500 transition duration-300 ease-in-out">
                        {{cat.name}}</p>
                </div>
            </ng-template>
            }



        </owl-carousel-o>
    </div>


</section>

<section class="bg-[#F1F1F1]">
    <div class="container  pb-12 px-5 mx-auto ">
        <!-- <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">

    
            <div>
                <img src="/images/grocery-banner.png" alt="slider image 2" class="w-full h-[150px] object-contain">
                <img src="/images/grocery-banner-2.jpeg" alt="slider image 3" class="w-full h-[150px] object-contain">
            </div>
        </div> -->

        <div>

            <owl-carousel-o [options]="customMainSlider">
                <!-- <ng-template carouselSlide><img src="/images/img1.avif" alt="slider image 1" class="w-full h-[300px] rounded-xl"></ng-template>
                <ng-template carouselSlide><img src="/images/img2.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>

                <ng-template carouselSlide><img src="/images/img3.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
                <ng-template carouselSlide><img src="/images/img4.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
                <ng-template carouselSlide><img src="/images/img5.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
                <ng-template carouselSlide><img src="/images/img6.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template> -->

                <ng-template carouselSlide>
                    <div class="relative w-full h-[500px] flex items-center justify-start text-white">
                        <!-- Background Image -->
                        <div class="absolute inset-0">
                            <img src="/images/hero-slider/1.jpg" alt="Hero Image"
                                class="w-full h-full object-cover rounded-xl rtl:scale-x-[-1]">
                            <!-- Semi-transparent Black Overlay -->
                            <div class="absolute inset-0 bg-black opacity-20 rounded-xl"></div>
                        </div>

                        <!-- Text Content -->
                        <div class="relative text-left  ps-6 ms-20 z-10 font-mulish">
                            <span
                                class="bg-red-100 text-red-800 text-sm font-medium px-2.5 py-0.5 rounded-sm dark:bg-red-900 dark:text-red-300">Weekend
                                Deal</span>
                            <h1 class="font-extrabold text-[43px] leading-[50px] pt-6">It’s Time</h1>
                            <h1 class="font-extrabold text-[43px]">for Big Savings</h1>
                            <p class="font-medium text-[14px] leading-[22px] uppercase">Awesome discounts and deals</p>
                            <p class="font-medium text-[16px] leading-[24px] pt-3">From <span
                                    class="font-extrabold text-[27px] leading-[33px] text-[#fcc904] pe-3">$599.9</span>
                            </p>
                            <button
                                class="mt-4 px-10 py-4 bg-primary text-white rounded-lg hover:bg-blue-600 font-bold text-[14px] leading-[15px] uppercase">Shop
                                Now</button>
                        </div>
                    </div>

                </ng-template>

                <ng-template carouselSlide>
                    <div class="relative w-full h-[500px] flex items-center justify-start text-white">
                        <!-- Background Image -->
                        <div class="absolute inset-0">
                            <img src="/images/hero-slider/2.jpg" alt="Hero Image"
                                class="w-full h-full object-cover rounded-xl rtl:scale-x-[-1]">
                            <!-- Semi-transparent Black Overlay -->
                            <div class="absolute inset-0 bg-black opacity-20 rounded-xl"></div>
                        </div>

                        <!-- Text Content -->
                        <div class="relative text-left max-w-lg pe-6 ml-20 z-10 font-mulish">
                            <span
                                class="bg-red-100 text-red-800 text-sm font-medium px-2.5 py-0.5 rounded-sm dark:bg-red-900 dark:text-red-300">Weekend
                                Deal</span>
                            <h1 class="font-extrabold text-[43px] leading-[50px] pt-6">Top Mobile Phones and Accessories
                                Deals </h1>
                            <h1 class="font-extrabold text-[43px]">at a Glimpse</h1>
                            <p class="font-medium text-[14px] leading-[22px] uppercase">Free Shipping by ByteCart</p>
                            <p class="font-medium text-[16px] leading-[24px] pt-3">From <span
                                    class="font-extrabold text-[27px] leading-[33px] text-[#fcc904] pe-3">$199.9</span>
                            </p>
                            <button
                                class="mt-4 px-10 py-4 bg-primary text-white rounded-lg hover:bg-blue-600 font-bold text-[14px] leading-[15px] uppercase">Shop
                                Now</button>
                        </div>
                    </div>

                </ng-template>

                <ng-template carouselSlide>
                    <div class="relative w-full h-[500px] flex items-center justify-start text-white">
                        <!-- Background Image -->
                        <div class="absolute inset-0">
                            <img src="/images/hero-slider/3.jpg" alt="Hero Image"
                                class="w-full h-full object-cover rounded-xl rtl:scale-x-[-1]">
                            <!-- Semi-transparent Black Overlay -->
                            <div class="absolute inset-0 bg-black opacity-20 rounded-xl"></div>
                        </div>

                        <!-- Text Content -->
                        <div class="relative text-left max-w-lg pe-6 ml-20 z-10 font-mulish">
                            <span
                                class="bg-red-100 text-red-800 text-sm font-medium px-2.5 py-0.5 rounded-sm dark:bg-red-900 dark:text-red-300">Weekend
                                Deal</span>
                            <h1 class="font-extrabold text-[43px] leading-[50px] pt-6">Laptops and Accessories Now </h1>
                            <h1 class="font-extrabold text-[43px]">Up to 30% Off</h1>
                            <p class="font-medium text-[14px] leading-[22px] uppercase">Free Shipping by ByteCart</p>
                            <p class="font-medium text-[16px] leading-[24px] pt-3">From <span
                                    class="font-extrabold text-[27px] leading-[33px] text-[#fcc904] pe-3">$800</span>
                            </p>
                            <button
                                class="mt-4 px-10 py-4 bg-primary text-white rounded-lg hover:bg-blue-600 font-bold text-[14px] leading-[15px] uppercase">Shop
                                Now</button>
                        </div>
                    </div>

                </ng-template>

            </owl-carousel-o>
        </div>

    </div>

</section>

<section class="bg-white">

    <div class="container py-10 px-5 mx-auto">

        <div class="grid grid-cols-1 lg:grid-cols-[30%_minmax(0,1fr)] gap-5 ">
            <div
                class="border-4 border-primary py-10 px-10  rounded-3xl flex flex-col justify-center items-center gap-3">
                <p class="text-red-600 font-mulish text-[14px] leading-[14px] font-medium">ONLY FOR TODAY</p>
                <p class="font-mulish text-[25px] leading-[30px] font-extrabold ">Deal Of The Day</p>
                <p class="font-mulish text-[15px] leading-[24px] font-normal text-center">Today's top deal on consumer
                    electronics! Don't miss out on more amazing daily offers.</p>

                <div class="flex gap-4 font-mulish mt-5">
                    <div class="flex flex-col items-center gap-1">
                        <div
                            class="hours bg-primary p-5 text-white rounded-xl font-extrabold text-[30px] leading-[30px]">
                            09</div>
                        <span class="text-[15px] text-[#848484] leading-[15px] font-medium">Hours</span>
                    </div>

                    <div class="flex flex-col items-center gap-1">
                        <div
                            class="hours bg-primary p-5 text-white rounded-xl font-extrabold text-[30px] leading-[30px]">
                            09</div>
                        <span class="text-[15px] text-[#848484] leading-[15px] font-medium">Mins</span>
                    </div>

                    <div class="flex flex-col items-center gap-1">
                        <div
                            class="hours bg-primary p-5 text-white rounded-xl font-extrabold text-[30px] leading-[30px]">
                            09</div>
                        <span class="text-[15px] text-[#848484] leading-[15px] font-medium">Secs</span>
                    </div>
                </div>

            </div>

            <div>

                <owl-carousel-o [options]="customMainSlider">
                    <!-- <ng-template carouselSlide><img src="/images/img1.avif" alt="slider image 1" class="w-full h-[300px] rounded-xl"></ng-template>
                    <ng-template carouselSlide><img src="/images/img2.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
    
                    <ng-template carouselSlide><img src="/images/img3.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
                    <ng-template carouselSlide><img src="/images/img4.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
                    <ng-template carouselSlide><img src="/images/img5.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template>
                    <ng-template carouselSlide><img src="/images/img6.avif" alt="slider image 1" class="w-full h-[300px] "></ng-template> -->

                    @for (product of products.slice(0,3) ; let i = $index ;track product._id) {

                    <ng-template carouselSlide>
                        <div class="border border-gray-300 rounded-xl flex flex-row gap-10 py-10 px-10 items-center">
                            <div class="flex flex-col gap-2 ">
                                @for(image of product.images; track $index){
                                    <div class="img w-[50px] h-[70px]">
                                        <img [src]="image" [alt]="product.title" class="cursor-pointer w-full h-full object-cover opacity-50 hover:opacity-100" (click)="setActiveCursolImage(i, image)">
                                    </div>
                                }

                            </div>

                            <div>
                                <img [src]="activeImages[i] ? activeImages[i] : product.imageCover" [alt]="product.title" class="w-[300px] h-[300px] object-contain" >
                            </div>

                            <div class="flex flex-col gap-3 font-mulish">
                                <div>
                                    <span class="inline-block bg-green-100 text-green-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded-sm dark:bg-green-900 dark:text-green-300">20%</span>
                                </div>
                                <h2 class="text-[15px] leading-[20px] font-medium cursor-pointer text-gray-500 hover:text-primary">{{product.title}}</h2>
                                <p class="font-semibold ">{{product.description}}</p>
                                <div class="flex items-center">
                                    @for (num of [1,2,3,4,5].slice(0,product.ratingsAverage) ; track $index) {
                                    <i class="fas fa-star text-yellow-300"></i>
                                    }
    
                                    @if(product.ratingsAverage % 1 !== 0){
                                    <i class="fas fa-star fa-star-half-stroke text-yellow-300"></i>
    
                                    }
                                    <span class="text-gray-500 pl-3">{{product.ratingsAverage}}</span>
                                </div>

                                <div>
                                    <span class="text-red-700 font-bold text-[20px] leading-[22px]">{{product.price| currency:'EGP' }}</span> <span class="pl-4 text-gray-400 font-normal text-[16px] leading-[22px] line-through">{{product.price *10/8 | currency:'EGP' }}</span>
                                </div>

                                <p class="text-[15px] leading-[20px] font-medium text-gray-500">{{product.slug}}</p>

                                <button (click)="addCartItem(product._id)"
                                class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                to cart</button>
                                

                            </div>
                        </div>

                    </ng-template>

                    }




                </owl-carousel-o>
            </div>
        </div>
    </div>



</section>

<section class="bg-[#F1F1F1]">
    <div class="container py-10 px-5 mx-auto font-mulish">
        <h2 class="font-bold text-black text-[24px] leading-[29px] pb-2 border-b border-b-gray-300">Top Selling Products</h2>
        <div class="grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 pt-4">

            @for (product of products.slice(0,8)|search : searchText; track product._id) {
            
                <div class="relative group border border-transparent shadow-sm hover:border-primary rounded-lg p-4 hover:shadow-lg transition-all duration-200 ease-linear bg-white">
                    <div >
                        <div class="img">
                            <img [src]="product.imageCover" [alt]="product.title">
                        </div>
                        <div class="info flex flex-col gap-4 pt-2">
                            <h3 class="cursor-pointer font-medium text-[14px] leading-[18px] text-gray-500 hover:text-primary">{{product.title}}</h3>
                            <p class="cursor-pointer font-semibold text-[15px] leading-[18px] text-black hover:text-primary">{{product.description}}</p>
                            <div class="flex items-center ">
                                @for (num of [1,2,3,4,5].slice(0,product.ratingsAverage) ; track $index) {
                                <i class="fas fa-star text-yellow-300"></i>
                                }
    
                                @if(product.ratingsAverage % 1 !== 0){
                                <i class="fas fa-star fa-star-half-stroke text-yellow-300"></i>
    
                                }
                                <span class="text-gray-500 pl-3">{{product.ratingsAverage}}</span>
                            </div>
    
                            <div>
                                <span class="text-red-700 font-bold text-[15px] leading-[18px]">{{product.price| currency:'EGP' }}</span> <span class="pl-4 text-gray-400 font-normal text-[14px] leading-[18px] line-through">{{product.price *10/8 | currency:'EGP' }}</span>
                            </div>
    
                            <button (click)="addCartItem(product._id)"
                            class="w-full text-[12px] leading-[12px] font-extrabold border-primary text-black py-4 hover:text-white border  hover:bg-primary focus:ring-4 focus:outline-none focus:ring-green-300 rounded-lg text-sm px-5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            to cart</button>

                            <div class=" w-full opacity-0  group-hover:opacity-100 transition-all duration-300 ">
                                <p class="text-[14px] leading-[24px] font-medium text-[#848484]">{{product.slug}}</p>
                            </div>
    
                        </div>
                    </div>

                    <div class="absolute top-0 left-0 p-4">
                        <span class="bg-primary text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded-b-xl rounded-tr-xl dark:bg-blue-900 dark:text-blue-300">20%</span>

                    </div>

                    <div class="absolute  top-0 right-0 p-3 ">
                        <div class="icons flex flex-col gap-1 overflow-hidden">
                            <div class=" icon border bg-white border-gray-300 rounded-full p-1 px-2 opacity-100 group-hover:opacity-100 transition-all duration-500   translate-y-[300%] group-hover:translate-y-0 hover:bg-blue-100 cursor-pointer">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>

                            <div class=" icon bg-white border border-gray-300 rounded-full p-1 px-2 opacity-0 group-hover:opacity-100 transition-all  duration-500 delay-100 translate-y-[100%] group-hover:translate-y-0 hover:bg-blue-100 cursor-pointer">
                                @if(wishlistItems().includes(product._id)){
                                    <i class="fa-solid fa-heart cursor-pointer text-red-600"
                                        (click)="removeProductWishList(product._id)"></i>
                                    }@else{
                                    <i class="fa-regular fa-heart cursor-pointer"
                                        (click)="addProductWishList(product._id)"></i>
            
                                    }
                            </div>
                        </div>
                    </div>

                </div>
            }

        </div>
    
    </div>
</section>

<section>
    <div class="container py-10 px-5 mx-auto">
        <owl-carousel-o [options]="customOptions">
            @for (brand of brands ; let i = $index ;track brand._id) {

                <ng-template carouselSlide>
                    <div
                    class="">
                    <div class="image">
                        <!-- <i class="fa-solid fa-mobile-screen-button text-[50px] "></i> -->

                        <img [src]="brand.image" [alt]="brand.name" class="h-[150px] w-[50px] object-cover cursor-pointer opacity-35 hover:opacity-100 transition-all duration-300">
                    </div>
                   
                </div>
                </ng-template>
            }
        </owl-carousel-o>
    </div>
</section>

<section class="bg-[#F1F1F1]">
    <div class="container py-10 px-5 mx-auto font-mulish">
        <h2 class="font-bold text-black text-[24px] leading-[29px] pb-2 border-b border-b-gray-300 capitalize">Popular products</h2>
        

        <input [(ngModel)]="searchText" type="search" placeholder="Search by Name ..."
            class="form-control w-[50%] mx-auto my-4 block">

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-10">
            @for (product of products.slice(4,12)|search : searchText; track product._id) {
            <div class="card border hover:border-primary rounded-md overflow-hidden shadow relative group py-5 px-5 bg-white">
                <div [routerLink]="['/details', product._id]" class="flex justify-center items-center">
                    <div class="card-img w-1/2">
                        <img [src]="product.imageCover" [alt]="product.title" class="w-full object-contain h-[250px]">

                    </div>

                    <div class="card-body px-2 py-4 w-1/2 font-mulish flex flex-col gap-2">
                        <h4 class=" text-[14px] leading-[18px] hover:text-primary text-[#B0B0B0] font-medium">{{product.category.name | titlecase | slice:0:5 }}</h4>
                        <h3 class="font-semibold text-[16px] leading-[22px] hover:text-primary text-black">{{product.title  }}</h3>
                        <!-- <h3 class="font-normal text-[14px] leading-[20px] hover:text-primary text-black">{{product.description}}</h3> -->
                        <div class="flex flex-col gap-2 ">
                            
                            <div class="flex items-center">
                                @for (num of [1,2,3,4,5].slice(0,product.ratingsAverage) ; track $index) {
                                <i class="fas fa-star text-yellow-300"></i>
                                }

                                @if(product.ratingsAverage % 1 !== 0){
                                <i class="fas fa-star fa-star-half-stroke text-yellow-300"></i>

                                }
                                <span class="text-gray-500">{{product.ratingsAverage}}</span>
                            </div>

                            <span class=" text-[20px] leading-[22px] text-[#dd2831] font-bold" >{{product.price| currency:'EGP' }}</span>
                        </div>
                    </div>
                </div>


                <div class="flex justify-center items-center gap-5">
                    <button (click)="addCartItem(product._id)"
                        class="btn-main w-[90%] me-auto block translate-y-full opacity-0 group-hover:-translate-y-0 group-hover:transition-all group-hover:duration-500 group-hover:opacity-100 text-[16px] leading-[14px] font-extrabold font-mulish capitalize">Add
                        to cart</button>

                    <div class="fav-ico">
                        @if(wishlistItems().includes(product._id)){
                        <i class="fa-solid fa-heart text-[29px] cursor-pointer text-red-600"
                            (click)="removeProductWishList(product._id)"></i>
                        }@else{
                        <i class="fa-regular fa-heart text-[29px] cursor-pointer"
                            (click)="addProductWishList(product._id)"></i>

                        }
                    </div>
                </div>

            </div>
            }

        </div>
    </div>
</section>

<section>
    <div class="container py-16 px-5 mx-auto">

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-10">
            <div class="group">
                <div class="icon-info flex items-center gap-5 ">
                    <div class="icon group-hover:scale-[1.05]">
                        <i class="fa-solid fa-truck-fast text-[60px] text-[#0068c8]"></i>
                    </div>
                    <div class="flex flex-col font-mulish group-hover:text-primary">
                        <span class="text-[15px] leading-[18px] font-[900] text-black uppercase group-hover:text-primary">Free Delivery</span>
                        <span class="text-[15px] leading-[24px] font-medium text-black group-hover:text-primary">Free shipping on all order</span>
                    </div>
                </div>
            </div>

            <div class="group">
                <div class="icon-info flex items-center gap-5 ">
                    <div class="icon group-hover:scale-[1.05]">
                        <i class="fa-solid fa-sack-dollar text-[60px] text-[#0068c8]"></i>
                    </div>
                    <div class="flex flex-col font-mulish group-hover:text-primary">
                        <span class="text-[15px] leading-[18px] font-[900] text-black uppercase group-hover:text-primary">Returns</span>
                        <span class="text-[15px] leading-[24px] font-medium text-black group-hover:text-primary">Back returns until first 14 days</span>
                    </div>
                </div>
            </div>

            <div class="group">
                <div class="icon-info flex items-center gap-5 ">
                    <div class="icon group-hover:scale-[1.05]">
                        <i class="fa-solid fa-headset text-[60px] text-[#0068c8]"></i>
                    </div>
                    <div class="flex flex-col font-mulish group-hover:text-primary">
                        <span class="text-[15px] leading-[18px] font-[900] text-black uppercase group-hover:text-primary">Customer support</span>
                        <span class="text-[15px] leading-[24px] font-medium text-black group-hover:text-primary">Free support 24h/7days</span>
                    </div>
                </div>
            </div>

            <div class="group">
                <div class="icon-info flex items-center gap-5 ">
                    <div class="icon group-hover:scale-[1.05]">
                        <i class="fa-solid fa-credit-card text-[60px] text-[#0068c8]"></i>
                    </div>
                    <div class="flex flex-col font-mulish group-hover:text-primary">
                        <span class="text-[15px] leading-[18px] font-[900] text-black uppercase group-hover:text-primary">Payment secure</span>
                        <span class="text-[15px] leading-[24px] font-medium text-black group-hover:text-primary">your payment is 100% secure</span>
                    </div>
                </div>
            </div>


        </div>


    </div>

</section>