<!-- <footer class="bg-gray-200 py-10">
    <div class="w-11/12 mx-auto">
      <h2 class="m-0 text-2xl">Get The FreshCart App</h2>
      <p class="text-gray-500 text-sm">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
  
      <div class="flex items-center gap-3 text-nowrap">
        <input
          type="text"
          class="w-full rounded-lg border-gray-300"
          placeholder="Email"
        />
        <button class="btn-main">Share App Link</button>
      </div>
  
      <hr />
  
      <div class="pay-details md:flex justify-between items-center my-5">
        <div class="flex items-center gap-2">
          <h3 class="text-sm m-0">Payment partners</h3>
          <img src="/images/amazon-pay.png" width="50px" alt="" />
          <img src="/images/American-Express-Color.png" width="50px" alt="" />
          <img src="/images/paypal.png" width="50px" alt="" />
          <img src="/images/mastercard.webp" width="50px" alt="" />
        </div>
  
        <div class="flex items-center gap-2">
          <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
          <img src="/images/get-google-play.png" width="100px" alt="" />
          <img src="/images/get-apple-store.png" width="100px" alt="" />
        </div>
      </div>
    </div>
  </footer> -->

  <footer class="py-5 ">

    <div class="w-full h-[1px] bg-gray-300"></div>

    <section>
      <div class="grid md:grid-cols-4 gap-5">
        <div class="flex flex-col gap-5 justify-start">
          <div class="img brand flex gap-4 items-center py-4">
            <img src="/images/cartlogo_transparent.svg" alt="brand icon" class="w-[75px] h-[75px]">
            <h1 class="text-[48px] text-gray-800 font-bold leading-[53px] font-titillium">ByteCart<span class="text-blue-800">.</span> </h1>
          </div>

          <div class="info">
            <p>Find a location nearest you. see <a class="cursor-pointer capitalize text-blue-600 underline dark:text-blue-500 hover:no-underline">Our Stores</a> </p>
            <p class="cursor-pointer text-black  dark:text-white hover:text-blue-600">Support1234&#64;ByteCart.com</p>
  
            <p class="cursor-pointer text-black  dark:text-white hover:text-blue-600">+08 0000 0000</p>
  
          </div>

          <div class="social flex gap-5">
            <div class="icon">
              <i class="fa-brands fa-facebook-f hover:text-blue-600 text-[20px]"></i>
            </div>
            <div class="icon">
              <i class="fa-brands fa-twitter hover:text-blue-600"></i>
            </div>
            <div class="icon">
              <i class="fa-brands fa-instagram hover:text-blue-600"></i>
            </div>
            <div class="icon">
              <i class="fa-brands fa-pinterest hover:text-blue-600"></i>
            </div>
          </div>
        
        
        </div>
      </div>
    </section>
  </footer>