<!-- <footer class="bg-gray-200 py-10">
    <div class="w-11/12 mx-auto">
      <h2 class="m-0 text-2xl">Get The FreshCart App</h2>
      <p class="text-gray-500 text-sm">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
  
      <div class="flex items-center gap-3 text-nowrap">
        <input
          type="text"
          class="w-full rounded-lg border-gray-300"
          placeholder="Email"
        />
        <button class="btn-main">Share App Link</button>
      </div>
  
      <hr />
  
      <div class="pay-details md:flex justify-between items-center my-5">
        <div class="flex items-center gap-2">
          <h3 class="text-sm m-0">Payment partners</h3>
          <img src="/images/amazon-pay.png" width="50px" alt="" />
          <img src="/images/American-Express-Color.png" width="50px" alt="" />
          <img src="/images/paypal.png" width="50px" alt="" />
          <img src="/images/mastercard.webp" width="50px" alt="" />
        </div>
  
        <div class="flex items-center gap-2">
          <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
          <img src="/images/get-google-play.png" width="100px" alt="" />
          <img src="/images/get-apple-store.png" width="100px" alt="" />
        </div>
      </div>
    </div>
  </footer> -->

  <footer class="pt-5 pb-2">
    <div class="container py-5 px-5 mx-auto">
      <div class="w-full h-[1px] bg-gray-300 mb-10"></div>

      <section class="font-titillium">
        <div class="container py-10 px-5 mx-auto">
          <div class="grid md:grid-cols-4 gap-10  items-center">
            <div class="flex flex-col gap-5 justify-start">
              <div class="img brand flex gap-4 items-center py-4">
                <img src="/images/bytecart_brand.png" alt="brand icon" class="w-full max-w-[60%] lg:max-w-[80%]">
                <!-- <h1 class="text-[32px] text-gray-800 font-bold leading-[53px] font-titillium">ByteCart<span class="text-blue-800">.</span> </h1> -->
              </div>
    
              <div class="info font-titillium text-[18px] leading-[30px] flex flex-col gap-2 md:col-span-1">
                <p class="text-[16px]" >Find a location nearest you. see <a class="cursor-pointer capitalize text-blue-600  dark:text-blue-500 hover:no-underline">Our Stores</a> </p>
                <p class="cursor-pointer text-black  dark:text-white hover:text-blue-600 text-[16px]">Support1234&#64;ByteCart.com</p>
      
                <p class="cursor-pointer text-black  dark:text-white hover:text-blue-600 font-bold text-[18px]">+08 0103 2052</p>
      
              </div>
    
              <div class="social flex gap-5 md:col-span-1">
                <div class="icon">
                  <i class="fa-brands fa-facebook-f hover:text-blue-600 text-[20px]"></i>
                </div>
                <div class="icon">
                  <i class="fa-brands fa-twitter hover:text-blue-600"></i>
                </div>
                <div class="icon">
                  <i class="fa-brands fa-instagram hover:text-blue-600"></i>
                </div>
                <div class="icon">
                  <i class="fa-brands fa-pinterest hover:text-blue-600"></i>
                </div>
              </div>
            
            
            </div>
    
            <div class="md:col-span-1">
              <h4 class="capitalize font-bold text-[20px] leading-[24px] font-titillium pb-5">About us</h4>
              <ul class="grid grid-cols-2  lg:grid-cols-1 font-titillium text-[18px] leading-[30px] lg:gap-1">
                <li class="hover:text-blue-600 cursor-pointer">About Us</li>
                <li class="hover:text-blue-600 cursor-pointer">News & Blog</li>
                <li class="hover:text-blue-600 cursor-pointer">Brands</li>
                <li class="hover:text-blue-600 cursor-pointer">Press Center</li>
                <li class="hover:text-blue-600 cursor-pointer">Advertising</li>
                <li class="hover:text-blue-600 cursor-pointer">Investors</li>
              </ul>
            </div>
    
            <div class="md:col-span-1">
              <h4 class="capitalize font-bold text-[20px] leading-[24px] pb-5">Support</h4>
              <ul class="grid grid-cols-2 md:grid-cols-1 lg:grid-cols-1 font-titillium text-[18px] leading-[30px] lg:gap-1">
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Support Center</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Manage</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Service</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Haul Away</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Security Center</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Contact</li>
              </ul>
            </div>
    
            <div class="md:col-span-1">
              <h4 class="capitalize font-bold text-[20px] leading-[24px] pb-5">Order</h4>
              <ul class="grid grid-cols-2 md:grid-cols-1 lg:grid-cols-1 font-titillium text-[18px] leading-[30px] lg:gap-1">
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Check Order</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Delivery & Pickup</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Returns</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Exchanges</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Developers</li>
                <li class="hover:text-blue-600 cursor-pointer  text-[16px]">Gift Cards</li>
              </ul>
            </div>
          </div>
        
        </div>
  
  
      </section>
  
      <div class="w-full h-[1px] bg-gray-300 mt-5 mb-2"></div>
      <section>
        <div class="grid grid-cols-1 md:grid-cols-2  items-center">
          <div>
            <p class="font-titillium text-gray-400 leading-[30px] text-[15px] tracking-widest">© ByteCart. All Rights Reserved.</p>
          </div>
  
          <div class="flex items-center justify-start md:justify-end gap-2">
            <img src="/images/amazon-pay.png" width="75px" alt="amazon pay" />
            <img src="/images/American-Express-Color.png" width="75px" alt="express" />
            <img src="/images/paypal.png" width="75px" alt="paypal" />
            <img src="/images/mastercard.webp" width="75px" alt="mastercard" />
          </div>
        </div>
      </section>
    </div>

    

  </footer>